<% include partials/header.ejs %>

<div class="container-fluid details d-flex">

    <div class="left-details">
        <section class="padding">
            <div class="title"><%= product.title %></div>

            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <% for (var i = 1; i < product.photos.length + 1; i++) { %>
                    <li data-target="#carouselIndicators" data-slide-to="<%= i %>"></li>
                    <% } %>
                </ol>
                <div class="carousel-inner">
                    <% if (product.photos.length === 0) { %>
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/img/no-photo.png" alt="No photo">
                        </div>
                    <% } else {
                        var active = "active" 
                        for (var i = 1; i < product.photos.length + 1; i++) {
                            console.log(product.photos[i - 1])
                            if (product.photos[i - 1] !== null) { %>
                            <div class="carousel-item <%= active %>">
                                <img class="d-block w-100" src="<%= product.photos[i - 1] %>" alt="Photo produit">
                            </div>
                            <% active = "" %>
                    <% }}} %>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <section class="padding">
            <div class="pseudo"><%= depositor.pseudo %></div>
        </section>

        <section class="d-flex align-items-center">
            <div class="price-title">Prix</div>
            <div class="price"><%= product.price %> €</div>
        </section>

        <section class="d-flex align-items-center">
            <div class="city-title">Ville</div>
            <div class="city"><%= product.city %></div>
        </section>

        <section class="padding">
            <div class="description-title">Description :</div>
            <div class="description"><%= product.description %></div>
        </section>
        
    </div>

    <div class="right-details">
        <section>
            <div class="pseudo-right">
                <div><%= depositor.pseudo %></div>   
            </div>
        </section>
        <section>
            <div class="phone-toggle">
                <button class="btn btn-phone">Voir le numéro</button>
                <div class="phone-area">06.08.09.98.67</div>
            </div>
        </section>
 
        <% if (user._id) {
            if ( user._id.equals(depositor._id) ) { %>
        <section>
            <a href="/annonce/<%= product._id %>/edit" class="btn btn-warning">Modifier</a>

            <form action="/annonce/<%= product._id %>/delete" method="post">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </section>
        <% }} %>
    </div>
</div>

<% include partials/footer.ejs %>