<% include partials/header.ejs %>

<div class="container-fluid details d-flex">

    <div class="left-details">
        <section class="padding">
            <div class="title"><%= product.title %></div>

            <img src="/uploads/<%= product.photos[0] %>" alt="">
        </section>

        <section class="padding">
            <div class="pseudo"><%= user.pseudo %></div>
        </section>

        <section class="d-flex align-items-center">
            <div class="price-title">Prix</div>
            <div class="price"><%= product.price %> €</div>
        </section>

        <section class="d-flex align-items-center">
            <div class="city-title">Ville</div>
            <div class="city"><%= product.city %></div>
        </section>

        <section class="padding">
            <div class="description-title">Description :</div>
            <div class="description"><%= product.description %></div>
        </section>
        
    </div>

    <div class="right-details">
        <section>
            <div class="pseudo-right"><%= user.pseudo %></div>
        </section>
        <section>
            <button class="btn btn-phone">Voir le numéro</button>
        </section>
        <section>
            <a href="/annonce/<%= product._id %>/edit" class="btn btn-warning">Modifier</a>

            <form action="/annonce/<%= product._id %>/delete" method="post">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </section>
    </div>
</div>

<% include partials/footer.ejs %>