<% include partials/header.ejs %>


<div class="container">
    <% for(product of products) { %>
    <a href="/annonce/<%= product._id %>" class="product">

        <div class="productImg">
            <% if (product.photos[0]) { %>
            <img src="/uploads/<%= product.photos[0] %>" alt="Photo produit">
            <% } else { %>
            <img src="/img/no-photo.png %>" alt="No Photo">
            <% } %>
        </div>

        <div class="productText">
            <div class="title"><%= product.title %></div>
            <div class="city"><%= product.city %></div>
            <div class="price"><%= product.price %> €</div>
        </div>

    </a>
    <% } %>
    
</div>

<% include partials/footer.ejs %>    