<% include partials/header.ejs %>
<% if(product !== null) {
    var h1 = "Modifier votre annonce"
    var action = `/annonce/${product._id}/edit`

    var title = product.title
    var description = product.description
    var price = product.price
    var city = product.city
} else {
    var h1 = "Déposer votre annonce"
    var action = "/deposer"
} %>

<div class="container publish-product">

    <h1><%= h1 %></h1>

    <hr>

    <form action="<%= action %>" method="post" enctype="multipart/form-data">
        <h2>Votre annonce</h2>
        <section>
            <div class="form-group d-flex flex-column">
                <label>Vous êtes un</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input who-check-input" type="checkbox" name="who" value="individual">
                        <label class="form-check-label" for="inlineCheckbox1">Particulier</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input who-check-input" type="checkbox" name="who" value="corporate">
                        <label class="form-check-label" for="inlineCheckbox2">Professionnel</label>
                    </div>
                    
                </div>
            </div>
            <div class="form-group d-flex flex-column">
                <label>Type d'annonce</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input type-check-input" type="checkbox" name="type" value="offer">
                        <label class="form-check-label" for="inlineCheckbox1">Offre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input type-check-input" type="checkbox" name="type" value="request">
                        <label class="form-check-label" for="inlineCheckbox2">Demande</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Titre de l'annonce</label>
                <input type="text" name="title" class="form-control" value="<%= title %>">
                <div class='invalid-feedback'>Le titre doit contenir entre 3 et 80 caractères</div>
            </div>
            <div class="form-group">
                <label>Texte de l'annonce</label>
                <textarea name="description" class="form-control" rows="10"><%= description %></textarea>
                <div class='invalid-feedback'>La description doit contenir plus de 3 caractères</div>
            </div>
            <div class="form-group">
                <label>Prix</label>
                <input type="number" name="price" class="form-control" value="<%= price %>">
                <div class='invalid-feedback'>Le prix doit être un nombre (ne pas ajouter le signe €)</div>
            </div>

            <div class="form-group">
                <label>Photo</label>
                <% if(product != null) { %>
                    <img src="/uploads/<%= product.photos[0] %>" alt="" width=120>
                <% } %>
                <input type="file" name="photos" class="form-control-file">
                <input type="file" name="photos" class="form-control-file">
                <input type="file" name="photos" class="form-control-file">
            </div>
        </section>

        <h2>Localisation</h2>
        <section>
            <div class="form-group">
                <label>Ville ou code postal</label>
                <input type="text" name="city" class="form-control" value="<%= city %>">
                <div class='invalid-feedback'>La ville doit contenir plus de 3 caractères</div>
            </div>
        </section>

        <% if (product === null) { %>
        <h2>Vos informations</h2>
        <section>
            <div class="form-group">
                <label>Pseudo</label>
                <input type="text" name="pseudo" class="form-control">
                <div class='invalid-feedback'>La pseudo doit contenir entre 3 et 50 caractères</div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email"class="form-control" aria-describedby="emailHelp">
                <div class='invalid-feedback'>Mettre une addresse email valide</div>
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" name="password"class="form-control">
            </div>
            <div class="form-group">
                <label>Téléphone</label>
                <input type="text" name="phone" class="form-control">
                <div class='invalid-feedback'>Le numéro de téléphone n'est pas valide</div>
            </div>
        </section>
        <% } %>
        
        <button type="submit" class="btn btn-publish">Valider</button>
    </form>

</div>

<% include partials/footer.ejs %>  


